@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Bodoni Moda";
  src: url("/fonts/BodoniModa.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay.ttf") format("truetype");
}
