@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Serif";
  src: url("/fonts/NotoSerif-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lilita One";
  src: url("/fonts/LilitaOne-Regular.ttf");
}

.lilita-one {
  font-family: "Lilita One", "sans-serif";
}

.noto-serif {
  font-family: "Noto Serif", "sans-serif";
}

.lobster {
  font-family: "Lobster", "sans-serif";
}

.caveat {
  font-family: "Caveat", "sans-serif";
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

.border-transition:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background-color: #38bdf8;
  transition: all ease-in-out 0.2s;
}

.border-transition:hover:after {
  width: 100%;
}
